<nav class="main-header__nav">
    <ul class="main-header__item-list">
        <li class="main-header__item"><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
        <li class="main-header__item"><a href="/villains" class="<%= path === '/villains' ? 'active' : '' %>">Villains</a></li>
        <li class="main-header__item"><a href="/admin/report-villain" class="<%= path === '/admin/report-villain' ? 'active' : '' %>">Report Villain!</a></li>
    </ul>
</nav>